body{
	background-color:black;
}
p{
	text-align:justify;
}
.photo{
}
.article{
}
.nouvelles{

}
#content{
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	width:985px;
	background-color:white;
}