p{
	text-align:justify;
}
a{
	color:#555;
}
h1,h3,h4, a, span, p{
	font-family:Tahoma, Geneva, sans-serif;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color:#ffb;
	background-color:#555;
	font-family:Tahoma, Geneva, sans-serif;
}
.socialBox{
	border-top: 50px solid #999;
}

.icon{
	width:30px;
	height:30px;
}
.picture{
	width:120px;
}
#container{
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	width:985px;
	background-color:white;
}
#footer{
	margin-bottom:100px;
}