<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Austin-Didier Tran</title>
		<meta name="author" content"Austin-Didier Tran"></meta>
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
	-->
		<link rel="stylesheet" type="text/css" href="AustinDidierTran.css">
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<script src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>


	</head>
	<body topmargin="0">
		<table id="content" cellpadding="0" cellspacing="0">
		</table>
		<div id="content" topmargin="0" ng-controller="WebsiteController as website">
			<div class="header">
				<h1>AUSTIN-DIDIER TRAN</h1>
			</div>
			<div ng-controller="PanelController as panelCtrl">
				<ul class="nav nav-pills" role="tablist">
					<li ng-class="{active:panelCtrl.isSelected(0)}"><a href ng-click="panelCtrl.selectTab(0)">{{tabs[0].value}}</a></li>
					<li ng-class="{active:panelCtrl.isSelected(1)}"><a href ng-click="panelCtrl.selectTab(1)">{{tabs[1].value}}</a></li>
					<li ng-class="{active:panelCtrl.isSelected(2)}"><a href ng-click="panelCtrl.selectTab(2)">{{tabs[2].value}}</a></li>
					
				</ul>
				<br>
				<div class="panel" ng-show="panelCtrl.isSelected(0)">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3">
								<img ng-src={{accueil.picture}} style="width:200px;height:200px">
							</div>
							<div class="col-md-9">
								<h3>{{accueil.title}}</h3>
								<p>{{accueil.content}}</p>
								<p>{{accueil.conclusion}}</p>
								<hr>
							</div>
						</div>
	  				</div>
				</div>
				
				<div class="panel" ng-show="panelCtrl.isSelected(1)">
					<div class="col-md-12">
						<div ng-repeat="social in socials | orderBy:'socialID'">
							<div class="row">
								<div class="col-md-2">
									<img ng-src={{social.picture}} style="width:80px;height:80px">
								</div>
								<div class="col-md-10">
									<h3>{{social.name}}</h3>
									<a ng-href={{social.link}}>{{social.content}}</a>
								</div>
							</div>
							<br>
						</div>
					</div>
				</div>
				
				<div class="panel" ng-show="panelCtrl.isSelected(2)">
					<div class="col-md-12">
						<div ng-repeat="experience in experiences | orderBy:'experienceID'">
							<div class="row">
								<div class="col-md-12">
									<h3>{{experience.title}}</h3>
									<h4>{{experience.employer}} - {{experience.location}}</h4>
									<p>{{experience.duration}}</p>
									<p>{{experience.description}}</p>
								</div>
								<hr>
							</div>
							<br>
						</div>
					</div>
				</div>
				<!--
				<div class="panel" ng-show="panelCtrl.isSelected(3)">
					<div class="col-md-12">
						<div ng-repeat="scolaire in scolaires | orderBy:'experienceID'">
							<div class="row">
								<div class="col-md-12">
									<h3>{{scolaire.institution}}</h3>
									<h4>{{scolaire.field}}</h4>
									<p>{{scolaire.duration}}</p>
									<p>{{scolaire.description}}</p>
								</div>
								<hr>
							</div>
							<br>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</body>
</html>
